<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/loans">
    <mat-icon>pan_tool</mat-icon> Loans
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers">
    <mat-icon>dashboard</mat-icon> Customers
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/payments">
    <mat-icon>payment</mat-icon> Payments
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/invoices">
    <mat-icon>input</mat-icon> Invoices
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/loans-types">
    <mat-icon>compare_arrows</mat-icon> Loan Plans
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports">
    <mat-icon>unarchive</mat-icon> Reports
  </a>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <mat-icon>settings</mat-icon> Settings
  </a>

</mat-nav-list>
